{% extends 'base.html.twig' %}

{% block title %}TrainStation{% endblock %}

{% block main %}
	<nav class="nav">
		<a class="btn-link" href="destinations"><button >Destinations</button></a>
		<a class="btn-link" href="trains"><button >Trains</button></a>
	</nav>
	{# display flash messages#}
	{% for message in app.flashes('success') %}
		<div class="alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="alert-error">
			{{ message }}
		</div>
	{% endfor %}

	<div class="trains-container">
	<h2>Next 10 trains</h2>
		{% for train in trains %}
			<div class="train-card">
				<div class="train-infos">
					<div>
						{{train.destination.category}} n°{{train.id}} to {{train.destination.name}} ({{train.destination.codeStation}})
					</div>
					<div>
						arrival at : {{train.arrivalTime|date('H:i d/m/Y')}}
					</div>  
					<div>
						departure at : {{train.departureTime|date('H:i d/m/Y')}}
					</div>
				</div>
				<div class="train-dock">
					{% if train.dock %}
						dock {{train.dock}}
						{% else %}
						No dock assigned
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
